<div class="flex">
  <app-navbar></app-navbar>

  <div class="flex-1 flex flex-col">
    <app-header (menuClick)="toggleNavbar()"></app-header>

    <div class="relative w-full">
      <div class="absolute top-2 right-4">
        <app-timer></app-timer>
      </div>
    </div>

    <div class="flex-grow flex flex-col items-center justify-center gap-6 overflow-hidden px-4">

<div class="flex w-full max-w-[860px] px-4 justify-between items-center">
        <app-modal title="1. Entrevista" class="flex-1"> 
          <div *ngIf="interviewHistory.length === 0 && !waitingLLMResult" class="flex flex-col items-center justify-center h-full text-center px-4">
            <p class="text-[#0D334D] text-xl font-semibold">
              Clique no microfone ou digite algo para começar o atendimento
            </p>
            <p>Para finalizar a entrevista, diga ou escreva "Encerrar atendimento".</p>
          </div>

          <div *ngFor="let item of interviewHistory" class="bg-white rounded-lg p-4 shadow mb-4">
            <p class="text-[#0D334D] font-semibold">Você: {{ item.question }}</p>
            <p class="text-sm text-gray-700 mt-1">Paciente: {{ item.answer }}</p>
          </div>

          <div *ngIf="waitingLLMResult" class="text-center">
            <p class="text-[#0D334D] text-3xl font-semibold animate-pulse">...</p>
          </div>
        </app-modal>
        <div class="self-center">
          <app-microphone></app-microphone>
        </div>
      </div>

      <div class="flex items-center gap-2 max-w-[700px] w-full px-4">
        <input
          class="flex-1 border rounded px-3 py-2"
          type="text"
          placeholder="Digite sua pergunta…"
          [(ngModel)]="typedQuestion"
          (keyup.enter)="sendTypedQuestion()"
        />
        <button 
          class="bg-[#0D334D] text-white px-4 py-2 rounded"
          (click)="sendTypedQuestion()">
          Enviar
        </button>
      </div>

      <app-hipotese 
        [isOpen]="openWindow" 
        (respostaEnviada)="armazenarResposta($event)">
      </app-hipotese>

    </div>
  </div>
</div>