<div class="flex">
  <app-navbar></app-navbar>

  <div class="flex-1 flex flex-col">
    <app-header (menuClick)="toggleNavbar()"></app-header>

    <div class="flex-grow flex flex-col items-center justify-center gap-6 overflow-hidden">

      <div class="flex items-center w-full max-w-[860px] px-4">
        <div class="flex-1">
          <app-modal title="3. Exames Complementares"> 
             <div *ngIf="history.length === 0" class="flex flex-col items-center justify-center h-full text-center px-4">
              <p class="text-[#0D334D] text-xl font-semibold">
                Fale pelo microfone ou digite o nome do exame
              </p>
            </div>
            <div *ngFor="let item of history" class="bg-white rounded-lg p-4 shadow mb-4">
              <p class="text-[#0D334D] font-semibold">Exame: {{ item.name }}</p>
              <p class="mt-1">{{ item.description }}</p>
              <img *ngIf="item.image" [src]="item.image" class="max-w-full rounded" />
            </div>
          </app-modal>
        </div>

        <div class="flex gap-4 px-4 py-2">
          <button
            *ngIf="enabledButton"
            (click)="openModal()"
            class="bg-[#0D334D] text-white px-4 py-2 rounded text-sm hover:opacity-90"
          >
            Avaliar
          </button>
        </div> 
      </div>

      <div class="flex items-center w-full max-w-[860px] gap-4 justify-center px-4">

        <div class="flex items-center w-[80%] gap-2 bg-gray-200 dark:bg-zinc-800 rounded-xl px-4 py-2">
          <input
            type="text"
            class="flex-1 bg-transparent outline-none text-gray-900 dark:text-gray-100 placeholder-gray-500"
            placeholder="Digite o exame que deseja solicitar…"
            [(ngModel)]="examInput"
            (keyup.enter)="submitExamInput()"/>

            <div class="flex items-center gap-2">
              <div class="relative group">
                <app-microphone class="w-10 h-10" (click)="startMic()"></app-microphone>
              </div>

              <button
                type="button"
                class="w-8 h-8 flex items-center justify-center rounded-full transition bg-gray-300 text-white shadow hover:bg-gray-400"
                (click)="submitExamInput()"
                >
                <img src="/assets/send-icon.svg" class="w-6 h-6 cursor-pointer"/>
              </button>
            </div>
          </div>
        </div>
      </div>

      <app-hipotese
        [isOpen]="isOpened"
        [fase]="'exames-complementares'"
        (closed)="closeModal()"
      >
    </app-hipotese>
  </div>
</div>